.purchase-wrap{
  width: 100%;
}

.time-select{
  width: 100%;
  height: 46px;
  line-height: 46px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &>div{
   width: 60%;
  }
  .am-list-item{
    background: #F7F7F7;
  }
  .am-list-item .am-list-line .am-list-arrow{
    transform: rotate(90deg);
  }
  .am-list-item .am-list-line .am-list-extra{
    flex-basis: 100%;
    text-align: center;
  }
  .icon-date {
    line-height: 45px;
  }
  .icon-date:before {
    display: inline-block;
    content: "\e62e";
    font: 18px/36px iconfont;
  }

  .prev-month{
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-prev{

    }
    .icon-prev:before{
      content: "\e61d";
      font: 18px/36px iconfont;
      display: block;
    }
  }
  .next-month{
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-next{

    }
    .icon-next:after{
      content: "\e636";
      font: 18px/36px iconfont;
      display: block;
    }
  }
}

.purchase-chart{
  height: 500px;
}

#echartsBox {
  width: 100%;
  height: 220px;
  padding: 10px 0 0;
  display: flex;
  align-items: center;
  background: #f8f8f8 !important;
  @media screen and (min-width: 350px) and (-webkit-min-device-pixel-ratio: 2) {
    height: 250px;
  }
  @media screen and (min-width: 360px) and (-webkit-min-device-pixel-ratio: 2.65) {
    height: 280px;
  }
}
